flask
gunicorn
paramiko
slackeventsapi
python-dotenv
openai
redis
pandas
openpyxl
reportlab
pypdf
pymupdf
pika
python-docx
streamlit
google-api-python-client
google-auth
google-auth-oauthlib
pymongo
Pillow
hachoir
